body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{text-transform: capitalize; color:#fff;font-weight: 600;
  text-align: start;
  margin-left: 10px;}

img {width: 70%;}

.card {width: 25%;
    height: 75vh;
    background: #e3a50f;
    border-radius: 40px;
   }